<% layout('layouts/boilerplate') %> <%- include('../partials/navbar') %> <%-
include('../partials/flash') %>

<!-- Product Section -->
<div class="container mt-5">
  <div class="row">
    <!-- Product Details -->
    <div class="col-lg-6 mb-4">
      <div class="card shadow-sm border-light" style="max-width: 18rem">
        <img src="<%= foundProduct.img %>" class="card-img-top" />
        <div class="card-body">
          <h2 class="card-title mb-2"><%= foundProduct.name %></h2>
          <h5 class="card-subtitle mb-3 text-muted">
            <%= foundProduct.price %>
          </h5>
          <p class="card-text mb-4"><%= foundProduct.desc %></p>
          <% if(currentUser && currentUser.role === 'seller'){ %>
          <a
            href="/products/<%= foundProduct._id %>/edit"
            class="btn btn-warning btn-sm mb-2"
            >Edit</a
          >
          <% } %>
          <form
            method="POST"
            action="/user/<%= foundProduct._id %>/add"
            class="d-inline-block mb-2"
          >
            <button class="btn btn-secondary btn-sm">Add To Cart</button>
          </form>
          <a href="#" class="btn btn-primary btn-sm">Buy Product</a>
        </div>
      </div>
    </div>

    <!-- Review Form Section -->
    <div class="col-lg-6">
      <h3 class="mb-4">Leave a Review</h3>
      <form action="/products/<%= foundProduct._id %>/review" method="POST">
        <div class="mb-3">
          <fieldset class="starability-basic">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="rating"
              value="0"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3">
          <label class="form-label" for="comment">Comment:</label>
          <textarea
            rows="3"
            name="comment"
            id="comment"
            class="form-control"
            placeholder="Add your comment here"
          ></textarea>
        </div>

        <button class="btn btn-success btn-sm">Add Review</button>
      </form>

      <!-- Review Cards Section -->
      <div class="mt-4">
        <% for(let review of foundProduct.reviews){ %>

        <div class="card mt-3">
          <p class="card-title mx-3">
            <% if(review.createdAt){ %> <%=review.createdAt.toDateString() %> <%
            } %>
          </p>
          <p class="starability-result" data-rating="<%=review.rating %>">
            Rated: <%=review.rating %> stars
          </p>
          <div class="card-body">
            <p class="card-text">Comment: <%=review.comment %></p>
          </div>

          <a href="#" class="btn btn-primary">Delete</a>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</div>
